<div class="container">
    <div class="text-center">
        <h4>Step 3 - Your Result</h4>
        <p>
            You have calculated the area for <span>{{ selectedShape }}</span>. Below is the result
        </p>
    </div>
    <div class="text-center m-5">
        <h5>
            The area is <span class="text-success">{{ area }}</span>            
        </h5>
        <p>(correct upto three decimal places)</p>
        <button class="btn btn-primary m-3" (click)="navigateToShapeForm()">Start Over</button>
    </div>

</div>