<p>shape-form works!</p>

<div class="container d-flex justify-content-center" *ngIf="!selectedShape">
    <form [formGroup]='shapeForm' (ngSubmit)="onShapeAdd()">
        <label for="shapeName" class="form-label">Enter Name of the shape</label>
        <input type="text" class="form-control mb-3" formControlName="shapeName">
        <label for="dimensions" class="form-label">Enter dimensions</label>
        <input type="text" class="form-control mb-3" name="dimensions" (keypress)="validateNumberInput($event)" formControlName="dimensions">
        <label for="areaFun" class="form-label">Enter Area Function</label>
        <input type="text" class="form-control mb-3" name="areaFun" formControlName='areaFun'>
        <input type="submit" class="btn btn-primary" value="Add Shape">
    </form>
</div>

<div class="container d-flex justify-content-center" *ngIf="selectedShape">
    <p>You have selected <span class="">{{ selectedShape }}</span>. Please input values for required variable(s)</p>
    <form [formGroup]="dimesionsForm" [ngSwitch]="selectedShape" (ngSubmit)="saveDimensions(dimesionsForm.value)">
        <div *ngSwitchCase="'Circle'">
            <label for="diameter" class="form-label">Enter value of diameter</label>
            <input type="text" class="form-control mb-3" formControlName="diameter">
        </div>
        <div *ngSwitchCase="'Rectangle'">
            <label for="length" class="form-label">Enter Length</label>
            <input type="text" class="form-control mb-3" formControlName="width">
            <label for="breadth" class="form-label">Enter Breadth</label>
            <input type="text" class="form-control mb-3" formControlName="height">
        </div>
        <div *ngSwitchCase="'Sqaure'">
            <label for="side" class="form-label">Enter Side</label>
            <input type="text" class="form-control mb-3" formControlName="side">
        </div>
        <div *ngSwitchCase="'Eclipse'">
            <label for="width" class="form-label">Enter Width</label>
            <input type="text" class="form-control mb-3" formControlName="width">
            <label for="width" class="form-label">Enter Height</label>
            <input type="text" class="form-control mb-3" formControlName="height">
        </div>
        <div *ngSwitchDefault>
            <label for="width" class="form-label">Enter Width</label>
            <input type="text" class="form-control mb-3" formControlName="width">
        </div>

        <input type="submit" class="btn btn-primary" value="Next" [disabled]="dimesionsForm.invalid">
        <input type="button" class="btn btn-primary" value="Cancel" (click)="goToShapeList()">
    </form>
</div>