// .required ::after {
//     content: " *";
//     color: #ff0000;
// }
// .shape-form-layout {
//   width: 65%;
// }

.submit-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
