<main>
  <div class="header-img"></div>
</main>

<body class="container d-flex">
  <div class="welcome-section">
    <h4>Welcome to Shape Area Calculator</h4>
    <p>Shape Area Calculator is interactive web application. To the right
      you will find 3-step application. Follow the instructions in each step.
      Clicking cancel will take you back to the step 1. Enjoy !
    </p>
  </div>
  <div class="calculator-container d-inline-block">
    <router-outlet></router-outlet>
  </div>
</body>

<footer class="footer">
  <img src="../assets//footer.png" alt="Footer">
</footer>